body
{
    background-color: #1d2d50;
    color: white;
    text-align: center;
    font-family: tahoma;
}
input
{
	background-color: #133b5c;
	color: white;
}
.container
{
    background-color: #133b5c;
    width: 80%;
    margin: auto;
    padding: 10px;
}
.tab
{
	display: inline-block;
	width: 29%;
	padding: 10px;
	margin: 10px;
}
.taskBox
{
	margin: 20px;
}
.task
{
	text-align: left;
	width: 80%;
}
.buttonContainer
{
	display: inline-block;
}
.subTaskBox
{
	margin-left: auto;
	width: 95%;
}
.button, a
{
	color: white;
	text-decoration: none;
	cursor: pointer;
}
.task,.button,.arrow
{
	display: inline-block;
	padding: 10px;
	margin: 10px;
}

/*Border*/
.container,.tab,.taskBox,.task,.button,#error
{
	border: 1px solid black;
	border-radius: 10px;
}

#error
{
	background-color: red;
	color: white;
	margin: 10px auto;
	padding: 10px;
	width: 40%; 
}
.error
{
	display: none;
}